#grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 2fr 2.5fr 1fr 1.5fr 0.1fr;
  grid-template-areas:
    "Nav Nav"
    "MainImage MainImage"
    "Trailers  Images"
    "description userreview"
    "description ourreview"
    "footer footer";
  grid-gap: 10px;
}

body {
  background-image: url("https://reforger.armaplatform.com/content/screenshots/version1.0/harbor-cranes.jpg");
  background-size: cover;
}
.logo-font {
  text-decoration: none;
  border-radius: 10px;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5vw;
  color: rgb(207, 66, 0);
  -webkit-text-stroke: 0.2vw #5f1e00;
  text-shadow: 2px 2px 4px #000000;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px 0px;
}
h2 {
  margin: 0px 0px;
}
#GameTitle {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "EDPT" 100, "EHLT" 12;
  font-size: 50px;
  margin-left: 10px;
  text-align: left;
}

Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: #2525252f;
  padding: 10px;
  box-shadow: #000000 5px 5px 15px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(187, 170, 93, 0.514);
}
#MainImage {
  grid-area: MainImage;
  background-color: lightpink;
  background-image: url("https://reforger.armaplatform.com/content/screenshots/version1.0/observation.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(187, 170, 93, 0.514);
  box-shadow: #000000 5px 5px 15px;
}
#Trailers {
  grid-area: Trailers;
  background-color: lightblue;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(187, 170, 93, 0.514);
  box-shadow: #000000 5px 5px 15px;
}
#descriptionText {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: arial, helvetica, sans-serif;
  font-size: 1.5vw;
}
#UserReviewText {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: arial, helvetica, sans-serif;
  font-size: 1vw;
  font-weight: bold;
}
#ourReviewText {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: arial, helvetica, sans-serif;
    font-size: 1vw;
    font-weight: bold;
}
h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: arial, helvetica, sans-serif;
}
iframe {
  width: 100%;
  height: 100%;
}
#Images {
  grid-area: Images;
  background-size: cover;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(187, 170, 93, 0.514);
  box-shadow: #000000 5px 5px 15px;
  max-width: 50vw;
  max-height: 40vw;
  overflow: hidden;
}
.mySlides {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.w3-display-right {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 2;
  padding: 8px 16px;
}
.w3-display-left {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 2;
  padding: 8px 16px;
}
.w3-black {
  color: #fff !important;
  background-color: #000 !important;
}
#description {
  grid-area: description;
  background-color: #c7c7c775;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(187, 170, 93, 0.514);
  box-shadow: #000000 5px 5px 15px;
}
#UserReview {
  grid-area: userreview;
  background-color: #c7c7c775;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(187, 170, 93, 0.514);
  box-shadow: #000000 5px 5px 15px;
}
#ourReview {
  grid-area: ourreview;
  background-color: #c7c7c765;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(187, 170, 93, 0.514);
  box-shadow: #000000 5px 5px 15px;
}
footer {
  grid-area: footer;
  background-color: rgba(0, 0, 0, 0.397);
  border-radius: 10px;
  text-align: center;
  box-shadow: #000000 5px 5px 15px;
}
#footer {
  font-size: 4vw;
}

.button-b,
.button-m {
  border-radius: 4px;
  background-color: rgba(187, 170, 93, 0.514);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 20vw;
  transition: all 0.5s;
  cursor: pointer;
}

.button-m span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-m span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-m:hover span {
  padding-right: 25px;
}

.button-m:hover span:after {
  opacity: 1;
  right: 0;
}

.button-b span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-b span:after {
  content: "\00ab";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.button-b:hover span {
  padding-left: 25px;
}

.button-b:hover span:after {
  opacity: 1;
  left: 0;
}

.w3-content {
  position: relative;
  width: 100%;
  height: 100%;
}
