#grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 2fr 2.5fr 1fr 1.5fr 0.1fr;
  grid-template-areas:
    "Nav Nav"
    "MainImage MainImage"
    "Trailers  Images"
    "description userreview"
    "description ourreview"
    "footer footer";
  grid-gap: 10px;
}

body {
  background-image: url("https://i.pinimg.com/236x/90/a6/bf/90a6bf54196c3dac7ffe25be8d60e979.jpg");
  background-size: cover;
}
.logo-font {
    text-decoration: none;
    border-radius: 10px;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    color: rgb(207, 66, 0);
    -webkit-text-stroke: 0.2vw #5f1e00;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px 0px;
}
h2 {
  margin: 0px 0px;
}
#GameTitle {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "EDPT" 100, "EHLT" 12;
  font-size: 50px;
  margin-left: 10px;
  text-align: left;
}

Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #252525;
    padding: 10px;
    box-shadow: #000000 5px 5px 15px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(207, 66, 0);
}
#MainImage {
  grid-area: MainImage;
  background-color: lightpink;
  background-image: url("https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_1240/b_white/f_auto/q_auto/ncom/software/switch/70010000003208/4643fb058642335c523910f3a7910575f56372f612f7c0c9a497aaae978d3e51");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(207, 66, 0);
  box-shadow: #000000 5px 5px 15px;
}
#Trailers {
  grid-area: Trailers;
  background-color: lightblue;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(207, 66, 0);
  box-shadow: #000000 5px 5px 15px;
}
#descriptionText {
    margin: 10px;
    color: white;
    font-family: arial, helvetica, sans-serif;
    font-size: 1.5vw;
    text-align: center;
    margin-top: 10vh;
}
#UserReviewText {
    margin: 10px;
    color: white;
    font-family: arial, helvetica, sans-serif;
    font-size: 1.2vw;
    text-align: center;
}
#ourReviewText {
    text-align: center;
    color:white;
    font-family: arial, helvetica, sans-serif;
    font-size: 1.5vw;
}
h1 {
    text-align: center;
    color: white;
}
iframe {
  width: 100%;
  height: 100%;
}
#Images {
  grid-area: Images;
  background-size: cover;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(207, 66, 0);
  box-shadow: #000000 5px 5px 15px;
  max-width: 50vw;
  max-height: 40vw;
  overflow: hidden;
}
.mySlides {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.w3-display-right {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 2;
  padding: 8px 16px;
}
.w3-display-left {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 2;
  padding: 8px 16px;
}
.w3-black {
  color: #fff !important;
  background-color: #000 !important;
}
#description {
    grid-area: description;
    background-color: #252525b0;;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(207, 66, 0);
    box-shadow: #000000 5px 5px 15px;
}
#UserReview {
    grid-area: userreview;
    background-color: #252525d2;;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(207, 66, 0);
    box-shadow: #000000 5px 5px 15px;
}
#ourReview {
    grid-area: ourreview;
    background-color: #252525b2;;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(207, 66, 0);
    box-shadow: #000000 5px 5px 15px;
}
footer {
  grid-area: footer;
  background-color: rgba(0, 0, 0, 0.418);
  border-radius: 10px;
  text-align: center;
  box-shadow: #000000 5px 5px 15px;
}
#footer {
  font-size: 4vw;
}

.button-b,
.button-m {
  border-radius: 4px;
  background-color: rgb(207, 66, 0);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 20vw;
  transition: all 0.5s;
  cursor: pointer;
}

.button-m span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-m span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-m:hover span {
  padding-right: 25px;
}

.button-m:hover span:after {
  opacity: 1;
  right: 0;
}

.button-b span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-b span:after {
  content: "\00ab";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.button-b:hover span {
  padding-left: 25px;
}

.button-b:hover span:after {
  opacity: 1;
  left: 0;
}

.w3-content {
  position: relative;
  width: 100%;
  height: 100%;
}
