.container {
  background-color: #252525;
  min-width: 100%;
}

body {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #252525;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 10px;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  gap: 2vw;
  padding: 2vw 2vw;
}

@media screen {
  .carousel__slide {
    position: relative;
    flex: 0 0 20%;
    width: 100%;
    height: 95%;
    max-width: 400px;
    max-height: 500px;
    min-height: fit-content;
    min-width: fit-content;
    background-color: rgb(36, 37, 48);
  }
}

@media screen and (max-width: 3000px) {
  .carousel__slide {
    position: relative;
    flex: 0 0 70%;
    width: 100%;
    height: 95%;
    min-height: fit-content;
    min-width: fit-content;
    background-color: rgb(41, 44, 49);
  }
}

@media screen and (max-width: 957px) {
  .carousel__slide {
    position: relative;
    flex: 0 100% 100%;
    width: 100%;
    height: 95%;
    max-width: 300px;
    max-height: 350px;
    min-height: fit-content;
    min-width: fit-content;
    background-color: rgb(36, 44, 59);
  }
}

.carousel__slide {
  position: relative;
  flex: 0 0 45%;
  width: 60vh;
  height: 75vh;
  background-color: rgb(41, 42, 46);
  border-radius: 2rem;
  box-shadow: 0 4px 24px #0002;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5vw;
  transition: box-shadow 0.2s;
}

.carousel__slide:nth-child(1) {
  background-image: url(https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/1245620/capsule_616x353.jpg?t=1748630546);
  background-size: cover;
  background-position: center;
}

.carousel__slide:nth-child(2) {
  background-image: url(https://www.digitalcombatsimulator.com/upload/iblock/9aa/kgrop0smcc9l7hmoigq9jun1si5gkvgi/New_Eshop_coverDCS_v-23%20%281%29.jpg);
  background-size: cover;
  background-position: center;
}

.carousel__slide:nth-child(3) {
  background-image: url(https://vgjournal.net/media/uploads/games/images/2024/11-November/10/thumbnails/sea-power-naval-combat-in-the-missile-age__cover__library_600x900_2x.thumbnail.webp);
  background-size: cover;
  background-position: center;
}

.carousel__slide:nth-child(5) {
  background-image: url(https://e.snmc.io/lk/lv/x/51939f27b220d46cb14ea84a1bc74b85/9243159);
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-child(6) {
  background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/0/04/Hollow_Knight_first_cover_art.webp/250px-Hollow_Knight_first_cover_art.webp.png);
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-child(7) {
  background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQeVjO36W9ByxycnUJQ-zCtwCmoF7xz-gWscAzctY9HwBL9LB5Vfgfj29sRGc7FbIXKBcyW);
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-child(8) {
  background-image: url(https://www.cloudgamingcatalogue.com/wp-content/uploads/2022/02/Ready-Or-Not.jpg);
  background-size: cover;
  background-position: center;
}

#carousel__slide4 {
  background-image: url(https://m.media-amazon.com/images/M/MV5BNzU3NWFmMmYtYjA4OS00YjQ2LTg5ZjctMzk2OGZhMWJiYzhhXkEyXkFqcGc@._V1_.jpg);
  background-size: cover;
  background-position: center;
}
/* ----------------------------------------------------------------------------------- Carousel 2------------------------------------------------------------------- */
#carousel2__slide1 {
  background-image: url(https://cdn1.epicgames.com/spt-assets/20d989fc07a447b2af3c59e4fd5f49c7/borderlands-4-fnnpo.jpg);
  background-size: cover;
  background-position: center;
}
#carousel2__slide2 {
  background-image: url();
  background-size: cover;
  background-position: center;
}
#carousel2__slide3 {
  background-image: url();
  background-size: cover;
  background-position: center;
}
#carousel2__slide4 {
  background-image: url();
  background-size: cover;
  background-position: center;
}
#carousel2__slide5 {
  background-image: url();
  background-size: cover;
  background-position: center;
}
#carousel2__slide6 {
  background-image: url();
  background-size: cover;
  background-position: center;
}
#carousel2__slide7 {
  background-image: url();
  background-size: cover;
  background-position: center;
}
#carousel2__slide8 {
  background-image: url(https://i0.wp.com/tshirtatlowprice.com/wp-content/uploads/2025/06/Fih-Funny-Misspelled-Fish-Meme.jpg?ssl=1);
  background-size: cover;
  background-position: center;
}
.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #1f1919;
  font-size: 2.5em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #3a3c4e;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url();
}
.carousel::after {
  background-image: url();
}

nav {
  font-size: 3vw;
  background-color: #2c2d38;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  height: fit-content;
  border-color: #e64302;
  border-style: solid;
  border-width: 10px;
  box-shadow: 24px 24px 24px rgba(0, 0, 0, 0.644);
  text-align: center;
  padding: 0 0 0 0;
}

Header {
  color: rgb(207, 66, 0);
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 10px 10px 10px #000000;
  font-size: 5vw;
  border: 5px solid rgb(250, 71, 0);
  text-align: top left;
  background-image: url(https://preview.redd.it/is-this-one-of-the-hardest-video-game-covers-in-history-v0-jk3mim07dm1d1.jpeg?auto=webp&s=d651a99f4d993cfe267ba79fc37341cd2dc8f3e8);
  background-size: cover;
  background-position: center top;
  padding: 0 0 20% 2%;
  -webkit-text-stroke: 0.2vw #5f1e00;
}

footer {
  margin-top: 2rem;
  text-align: center;
  font-size: 1rem;
  color: #aaa;
  padding: 1rem 0;
  border-top: 1px solid #864800;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #c2c2c200;
}

::-webkit-scrollbar-thumb {
  background: #868686;
  border: none;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #da4113;
}

a {
  text-decoration: none;
  color: rgb(218, 98, 0);
  padding: 0 2vw;
  -webkit-text-stroke: 0.1vh #5f1e00;
}

a:hover {
  color: #c40303;
  transition: 0.1s;
  -webkit-text-stroke: 0.1vh #000000;
}

/*** Carousel 2 **/
.carousel2__slide:nth-child(1) {
  background-image: url();
  background-size: cover;
  background-position: center;
}

.carousel2__slide:nth-child(2) {
  background-image: url();
}

.carousel2__slide:nth-child(3) {
  background-image: url();
}

.carousel__slide:nth-child(4) {
  background-image: url();
}

.carousel2__slide:nth-child(5) {
  background-image: url();
}
.carousel2__slide:nth-child(6) {
  background-image: url();
}
.carousel2__slide:nth-child(7) {
  background-image: url();
}
.carousel2__slide:nth-child(8) {
  background-image: url();
}

.carousel2__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #1f1919;
  font-size: 2.5em;
}

.carousel2__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

.carousel2::before,
.carousel2::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #3a3c4e;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel2::before {
  background-image: url();
}
.carousel2::after {
  background-image: url();
}

.carousel2 {
  position: relative;
  padding-top: 10px;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel2__viewport {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  gap: 2vw;
  padding: 2vw 2vw;
}

@media screen {
  .carousel2__slide {
    position: relative;
    flex: 0 0 20%;
    width: 100%;
    height: 95%;
    max-width: 400px;
    max-height: 500px;
    min-height: fit-content;
    min-width: fit-content;
    background-color: rgb(36, 37, 48);
  }
}

@media screen and (max-width: 3000px) {
  .carousel2__slide {
    position: relative;
    flex: 0 0 70%;
    width: 100%;
    height: 95%;
    min-height: fit-content;
    min-width: fit-content;
    background-color: rgb(41, 44, 49);
  }
}

@media screen and (max-width: 957px) {
  .carousel2__slide {
    position: relative;
    flex: 0 100% 100%;
    width: 100%;
    height: 95%;
    max-width: 300px;
    max-height: 350px;
    min-height: fit-content;
    min-width: fit-content;
    background-color: rgb(36, 44, 59);
  }
}

.carousel2__slide {
  position: relative;
  flex: 0 0 45%;
  width: 60vh;
  height: 75vh;
  background-color: rgb(41, 42, 46);
  border-radius: 2rem;
  box-shadow: 0 4px 24px #0002;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5vw;
  transition: box-shadow 0.2s;
}

/*** Carousel2 end ***/

.Newsannounce {
  text-align: center;
  font-size: 2vw;
  color: rgb(218, 98, 0);
  -webkit-text-stroke: 0.1vh #5f1e00;
  border: 6px solid rgb(250, 71, 0);
}

.lacquer-regular {
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
}

#rotate-popup {
  position: fixed;
  z-index: 9999;
  inset: 0;
  background: rgba(30,32,40,0.92);
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotate-popup-content {
  background: #23272f;
  color: #f3f3f3;
  border-radius: 1.5rem;
  box-shadow: 0 4px 24px #000a;
  padding: 2.5rem 2rem;
  text-align: center;
  max-width: 90vw;
  font-size: 1.2rem;
}

#rotate-popup h2 {
  color: #ff9800;
  margin-bottom: 1rem;
  font-size: 2rem;
}
