.container {
  background-color: #555461;
  min-width: 100%;
}



@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

body {
  max-width: 100%;
  margin: 0 auto;
  padding: 0
  ;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #252525;
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 10px;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  gap: 2vw;
  padding: 2vw 2vw;
}

@media screen {
  .carousel__slide {
    position: relative;
    flex: 0 0 20%;
    width: 100%;
    height: 95%;
    max-width: 400px;
    max-height: 500px;
    min-height: fit-content;
    min-width: fit-content;
    background-color: rgb(36, 37, 48);
    counter-increment: item;
  }
}

@media screen and (max-width: 3000px) {
  .carousel__slide {
    position: relative;
    flex: 0 0 70%;
    width: 100%;
    height: 95%;
    min-height: fit-content;
    min-width: fit-content;
    background-color: rgb(41, 44, 49);
    counter-increment: item;
  }
}

@media screen and (max-width: 957px) {
  .carousel__slide {
    position: relative;
    flex: 0 100% 100%;
    width: 100%;
    height: 95%;
    max-width: 300px;
    max-height: 350px;
    min-height: fit-content;
    min-width: fit-content;
    background-color: rgb(36, 44, 59);
    counter-increment: item;
  }
}

.carousel__slide {
  position: relative;
  flex: 0 0 45%;
  width: 60vh;
  height: 75vh;
  background-color: rgb(41, 42, 46);
  border-radius: 2rem;
  box-shadow: 0 4px 24px #0002;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5vw;
  transition: box-shadow 0.2s;
}

.carousel__slide:nth-child(1) {
  background-image: url(https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/1245620/capsule_616x353.jpg?t=1748630546);
  background-size: cover;
  background-position: center;
}

.carousel__slide:nth-child(2) {
  background-image: url();
}

.carousel__slide:nth-child(3) {
  background-image: url();
}

.carousel__slide:nth-child(4) {
  background-image: url();
}

.carousel__slide:nth-child(5) {
  background-image: url();
}
.carousel__slide:nth-child(6) {
  background-image: url();
}
.carousel__slide:nth-child(7) {
  background-image: url();
}
.carousel__slide:nth-child(8) {
  background-image: url();
}
.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #1f1919;
  font-size: 2.5em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #3a3c4e;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url();
}
.carousel::after {
  background-image: url();
}

nav {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.2rem;
  background-color: #2c2d38;
  border-radius: 15px;
  height: 100px;
  width: 100%;
  border-color: #40414d;
  border-style: solid;
  border-width: 10px;
  box-shadow: 0 4px 24px #0002;
  }

Header {
  color: rgb(207, 66, 0);
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 10px 10px 10px #000000;
  font-size: 5vw;
  border: 5px solid rgb(250, 71, 0);
  text-align: top left;
  background-image: url(https://preview.redd.it/is-this-one-of-the-hardest-video-game-covers-in-history-v0-jk3mim07dm1d1.jpeg?auto=webp&s=d651a99f4d993cfe267ba79fc37341cd2dc8f3e8);
  background-size: cover;
  background-position: center top;
  padding: 0 0 20% 2%;
  -webkit-text-stroke: 0.2vw #5f1e00;
}